<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828268125335-44fpgijvl2nfhf5q6iddh7kt5pc6719f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828268125335-44fpgijvl2nfhf5q6iddh7kt5pc6719f</string>
	<key>API_KEY</key>
	<string>AIzaSyCAMpcoyRYdwdZmE44QPHVIDrE6PigOnt4</string>
	<key>GCM_SENDER_ID</key>
	<string>828268125335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mark.DisplayFirebaseData</string>
	<key>PROJECT_ID</key>
	<string>displayfirebasedata-c5894</string>
	<key>STORAGE_BUCKET</key>
	<string>displayfirebasedata-c5894.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828268125335:ios:d6e36585379d65e47e5dd2</string>
	<key>DATABASE_URL</key>
	<string>https://displayfirebasedata-c5894.firebaseio.com</string>
</dict>
</plist>